{% extends 'base.html.twig' %}

{% block title %}Films provenant de l'api the movie db (Controller){% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-api">
        <div class="container-header">
            <h1>Films provenant d'une api affiché par un controller symfony</h1>
        </div>
        <div class="container-link-api center">
            <a class="link-button" href="{{ path('movie_api_from_javascript') }}">Films provenant d'une api via JavaScript</a>
            <a class="link-button" href="{{ path('movie_from_db') }}">Films provenant de la base de donnée</a>
        </div>
        <div class="container-second-title center">
            <h2>Populaire en ce moment...</h2>
        </div>
        <div class="container-card center">
            {% for i in 0..datas.results|length - 1 %}
                <div class="card">
                    <div class="container-image">
                        <img class="poster-image" src="https://image.tmdb.org/t/p/w500/{{ datas.results[i].poster_path }}">
                    </div>
                    <div class="title">
                        {{ datas.results[i].original_title }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
