{% extends 'base.html.twig' %}

{% block title %}Films provenant de la base de donnée{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container-movie">
        <div class="container-header">
            <h1>Films provenant de la base de donnée</h1>
        </div>

        <div class="container-result">
            <p>il y a ( <span class="number-result">{{ movies|length }} </span>) film{{ movies|length > 1 ? 's' }} en base de donnée</p>
        </div>
        <div class="container-card">
            {% for movie in movies %}
                <div class="card">
                    <a class="movie-link" href="{{ path('movie_show', {id: movie.id}) }}">
                        <img class="poster-image" src="{{ asset('images/movie_default.jpg') }}">
                    </a>
                    <div class="title">{{ movie.title }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="container-new">
            <a class="add-new-movie-button" href="{{ path('movie_new') }}">Ajouter un film</a>
        </div>
    </div>
{% endblock %}
